/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}
h1custom,
.h1custom {
  border-color:#0a1724; 
  color:#75caf2; 
  margin: .67em ;
  font-size: 36px ;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-left: -250px;
  left: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/asteroid.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* New Full Page Header */
.header2 {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/stars.jpg) no-repeat center center fixed;
  color: #75caf2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Governor Pages */

.gov-page {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/earth.jpg) no-repeat center center fixed;
  color: #0a1724;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gov-page .btn {
  margin: 10px;
}

/* Intro */

.intro {
  padding: 5px 0;
}

/* Services */

.services {
  background: #0a1724;
  padding: 10px 0;
  color: #75caf2;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 700px;
  width: 100%;
  background: url(../img/pics/banner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_bellew {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Bellew.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_scott {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Scott.jpg) no-repeat center 30% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_clarke {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Clarke.jpg) no-repeat center 15% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_daniel {
  color: #ffffff;
  display: table;
  height: 700px;
  width: 100%;
  background: url(../img/picff/Daniel.jpg) no-repeat center 30% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_fuchuruddin {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Fuchuruddin.jpg) no-repeat center 18% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_harman {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Harman.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_hilsbos {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Hilsbos.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_king {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/King.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_malone {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Malone.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_muhly {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Muhly.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_mullens {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Mullens.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_naum {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Naum.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_seufer {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Seufer.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_shimer {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Shimer.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_wang {
  color: #ffffff;
  display: table;
  height: 700px;
  width: 100%;
  background: url(../img/picff/Wang.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_smith {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Smith.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_sutherland {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Sutherland.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_farah {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Farah.jpg) no-repeat center 20% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout_kartik {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: url(../img/picff/Kartik.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a1724;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../img/asteroid.jpg) no-repeat center center scroll; 
  }

  .callout {
	background: url(../img/pics/bannerc.jpg) no-repeat center center scroll; 
  height: 238px;
  }
  .callout_bellew {
  background: url(../img/picf/Bellew.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_scott {
  background: url(../img/picf/Scott.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_clarke {
  background: url(../img/picf/Clarke.jpg) no-repeat center top scroll; 
  height: 350px;
  }
    .callout_daniel {
  background: url(../img/picf/Daniel.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_fuchuruddin {
  background: url(../img/picf/Fuchuruddin.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_harman {
  background: url(../img/picf/Harman.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_hilsbos {
  background: url(../img/picf/Hilsbos.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_king {
  background: url(../img/picf/King.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_malone {
  background: url(../img/picf/Malone.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_muhly {
  background: url(../img/picf/Muhly.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_mullens {
  background: url(../img/picf/Mullens.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_naum {
  background: url(../img/picf/Naum.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_seufer {
  background: url(../img/picf/Seufer.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_shimer {
  background: url(../img/picf/Shimer.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_wang {
  background: url(../img/picf/Wang.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_smith {
  background: url(../img/picf/Smith.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_sutherland {
  background: url(../img/picf/Sutherland.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_farah {
  background: url(../img/picf/Farah.jpg) no-repeat center top scroll; 
  height: 350px;
  }
  .callout_kartik {
  background: url(../img/picf/Kartik.jpg) no-repeat center top scroll; 
  height: 350px;
  }

  .map {
	height: 75%;
  }

}
